//-----------------------------------------------------------------------------
// app/assets/stylesheets/events.scss
//-----------------------------------------------------------------------------

.org-link {
  margin-top:                 1.00em;
  font-size:                  1.20em;
}

.host-list {
  list-style-type:            none;
}